body {
    background-color: white;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
}

header {
    /*background-color: black;
    border-bottom: 1px solid seashell;*/
    display: flex;
    justify-content: space-between;
    width: -webkit-fill-available;
    flex-wrap: wrap;
    /*position: sticky;*/
    top: 0px;
    z-index: 2;
    height: 72px;
    padding: 38px 98px;
    position: absolute;
}

nav {
    display: flex;
    justify-content: space-around;
    align-content: center;
    background-color: transparent;
    /*margin-bottom: -100px;*/
}

main {
    background-image: url(../img/Hero.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: left;
    /*margin: 0% 2.5%;*/
    padding: 0% 2.5%;
    /*margin-top: -72px;*/
}

footer {
    display: flex;
    justify-content: space-between;
    width: -webkit-fill-available;
    flex-wrap: wrap;
    background-color: #F16920;
    max-height: 230px;
    height: 230px;
    padding: 55px 0px 44px 0px;
}

footer section {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 10%;
}

footer p{
    padding-left: 20px;
}

h1 {
    color: #FFF;
    font-family: "Montserrat", sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h1 span {
    font-weight: 700;
    font-size: 45px;
}

h2 {
    color: #636363;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h2 span {
    color: #F16920;
    font-family: "Montserrat", sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

a {
    text-decoration: underline;
    color: seashell;
}

p {
    color: #595959;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

li {
    display: inline;
    margin: 10px;
}

hr {
    /*border: 0;*/
    border-top: 1px solid #ADADAD;
    width: 80%;
}
/*Classes*/

.cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    /*flex-grow: 3;*/
    border-radius: 22px;
    background: #FFF;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
    padding: 52px;
    font-family: "Montserrat", sans-serif;
    align-items: baseline;
    width: 611px;
    margin: 16px;
}

.cards p {
    text-align: start;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}
/*
.row img {
    height: 3.5rem;
}
*/
.col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 10px;
    align-self: flex-end;
}

.login_btn {
    display: flex;
    width: 146px;
    height: 42px;
    padding: 10px 32px 10px 36px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #F16920;
}

.body_content {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    justify-content: center;
}

.ftr_services a{
    color: #FFF;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
}

.ftr_terms{
    width: -webkit-fill-available;
    justify-content: space-between;
    border-top: 1px solid #FFF;
    /*padding: 28px 0px;*/
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.verticalSpace{
    margin: 4rem 0px;
}

.vr {
    border-left: 2px solid white;
    height: 30px;
}

.bannerContent {
    width: -webkit-fill-available;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: center;
    margin: 0 10%;
    display: flex;
}
/*ID's*/
#logo {
    height: 50px;
    margin: 10px;
}

#header {
    background-color: black;
    width: 100%;
    text-align: center;
}

#locations {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    min-height: 500px;
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    margin: 0% 2.5%;
    text-align: center;
}

#locations .col {
    background-color: black;
    opacity: 1;
    margin: 20px;
    padding: 20px;
    width: 300px;
}

#contact {
    min-height: 200px;
}

#banner-1 {
    background-image: url(../img/img2.png);
}

#bold_P {
    color: #636363;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 16px;
}

#bold {
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#footer_txt{
    color: #FFF;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}